build/
*.o
*.a
*.so
*.so.*
*.d
*.elf
*.bin

*.ko
*.mod
*.mod.c
.tmp_versions/
Module.symvers
modules.order
.*.cmd

vm/*.qcow2
vm/*.img
vm/*.iso
vm/*.vmdk
vm/*.vdi
vm/*.raw

.vscode/

*.log
core
core.*
vgcore.*
*.core
